<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sits.rjb.excel.mapper.ExcelMapper">
    <resultMap id="DownloadCandidateInfoMapper"
               type="cn.sits.rjb.excel.model.dto.DownloadCandidateInfoByKeywordResponseDto">
        <result column="candidate_id" property="candidateId" jdbcType="INTEGER"/>
        <result column="candidate_name" property="candidateName" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="company_now" property="companyNow" jdbcType="VARCHAR"/>
        <result column="company_before" property="companyBefore" jdbcType="VARCHAR"/>
    </resultMap>
    <!--模糊查询候选人信息-->
    <select id="downloadCandidateListExcel" resultMap="DownloadCandidateInfoMapper"
            parameterType="cn.sits.rjb.excel.model.dto.DownloadCandidateListExcelRequestDto">
        SELECT * FROM candidate_info t1
        where is_delete = 0
        <if test="keyword !=null and keyword !=''">
            AND (t1.candidate_name like '%'||#{keyword}||'%'
            OR t1.telephone like '%'||#{keyword}||'%'
            OR t1.company_now like '%'||#{keyword}||'%'
            OR t1.company_before like '%'||#{keyword}||'%')
        </if>
        ORDER BY t1.update_time desc
    </select>

    <!--插入Excel候选人信息-->
    <insert id="addCandidateListExcel" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="uuid">
        <foreach collection="list" item="item" index="index" separator=";">
            INSERT INTO candidate_info ( candidate_name, telephone, description, company_now, company_before )
            VALUES
            (
            #{item.candidateName,jdbcType=VARCHAR},#{item.telephone,jdbcType=VARCHAR},
            #{item.description,jdbcType=VARCHAR},#{item.companyNow,jdbcType=VARCHAR},
            #{item.companyBefore,jdbcType=VARCHAR}
            )
            ON conflict ( telephone ) DO
            UPDATE
            SET
            candidate_name =#{item.candidateName,jdbcType=VARCHAR},
            description = #{item.description,jdbcType=VARCHAR},
            company_now = #{item.companyNow,jdbcType=VARCHAR},
            company_before = #{item.companyBefore,jdbcType=VARCHAR},
            update_time = cast (current_timestamp(0) as  timestamp without time zone)
        </foreach>
    </insert>

</mapper>