<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sits.rjb.police.mapper.PoliceMapper">
    <resultMap id="TrafficPoliceEventResultMap" type="cn.sits.rjb.police.model.dto.TrafficPoliceEventResponseDto">
        <result column="EVENT_ID" property="eventId" jdbcType="INTEGER"/>
        <result column="REPORT_POLICE_ID" property="reportPoliceId" jdbcType="VARCHAR"/>
        <result column="REPORT_POLICE_NAME" property="reportPoliceName" jdbcType="VARCHAR"/>
        <result column="EVENT_TYPE" property="eventType" jdbcType="VARCHAR"/>
        <result column="EVENT_CONTENT" property="eventContent" jdbcType="VARCHAR"/>
        <result column="EVENT_COORDINATE" property="eventCoordinate" jdbcType="VARCHAR"/>
        <result column="PICTURE_PATH" property="picturePath" jdbcType="VARCHAR"/>
        <result column="REPORT_TIME" property="reportTime"/>
        <result column="STATE" property="state" jdbcType="VARCHAR"/>
        <result column="MODIFY_STATE_TIME" property="modifyStateTime" jdbcType="VARCHAR"/>
        <result column="EVENT_HANDLE_STATE" property="eventHandleState" jdbcType="VARCHAR"/>
        <result column="HANDLE_POLICE_ID" property="handlePoliceId" jdbcType="VARCHAR"/>
        <result column="HANDLE_POLICE_NAME" property="handlePoliceName" jdbcType="VARCHAR"/>
        <result column="HANDLE_TIME" property="handleTime"/>
    </resultMap>

    <resultMap id="TrafficPoliceReportingResultMap" type="cn.sits.rjb.police.model.dto.TrafficPoliceReportingDto">
        <result column="EVENT_ID" property="eventId" jdbcType="INTEGER"/>
        <result column="REPORT_POLICE_ID" property="reportPoliceId" jdbcType="INTEGER"/>
        <result column="REPORT_POLICE_NAME" property="reportPoliceName" jdbcType="VARCHAR"/>
        <result column="EVENT_TYPE" property="eventType" jdbcType="INTEGER"/>
        <result column="EVENT_CONTENT" property="eventContent" jdbcType="VARCHAR"/>
        <result column="LONGITUDE" property="longitude" jdbcType="INTEGER"/>
        <result column="LATITUDE" property="latitude" jdbcType="INTEGER"/>
        <result column="PICTURE_PATH" property="picturePath" jdbcType="VARCHAR"/>
        <result column="REPORT_TIME" property="reportTime"/>
        <result column="STATE" property="state" jdbcType="INTEGER"/>
        <result column="STATE_UPDATE_TIME" property="stateUpdateTime"/>
        <result column="HANDLE_STATE" property="handleState" jdbcType="INTEGER"/>
        <result column="HANDLE_POLICE_ID" property="handlePoliceId" jdbcType="INTEGER"/>
        <result column="HANDLE_POLICE_NAME" property="handlePoliceName" jdbcType="VARCHAR"/>
        <result column="HANDLE_TIME" property="handleTime"/>
        <result column="EVENT_EXPRESSWAY_ID" property="eventExpresswayId" jdbcType="INTEGER"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="PoliceDutyResultMap" type="cn.sits.rjb.police.model.po.PoliceDuty">
        <result column="INCREMENT_ID" property="incrementId" jdbcType="INTEGER"/>
        <result column="POLICE_ID" property="policeId" jdbcType="INTEGER"/>
        <result column="POLICE_CAR_ID" property="policeCarId" jdbcType="INTEGER"/>
        <result column="DUTY_DATE" property="dutyDate"/>
        <result column="BEGIN_TIME" property="beginTime"/>
        <result column="END_TIME" property="endTime"/>
        <result column="JURISDICTION_ID" property="jurisdictionId" jdbcType="INTEGER"/>
        <result column="DUTY_POSITION" property="dutyPosition" jdbcType="VARCHAR"/>
        <result column="TASK" property="task" jdbcType="VARCHAR"/>
        <result column="DUTY_TYPE" property="dutyType" jdbcType="INTEGER"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="SEX" property="sex" jdbcType="INTEGER"/>
        <result column="BIRTH_DATE" property="birthDate"/>
        <result column="POLICE_RANK" property="policeRank" jdbcType="INTEGER"/>
        <result column="SQUAD_ID" property="squadId" jdbcType="INTEGER"/>
        <result column="JURISDICTION_NAME" property="jurisdictionName" jdbcType="VARCHAR"/>
        <result column="DESCRIPT" property="descript" jdbcType="VARCHAR"/>
        <result column="SQUAD_NAME" property="squadName" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="RTPoliceOnlineResultMap" type="cn.sits.rjb.police.model.dto.RTPoliceOnlineResponseDto">
        <result column="INCREMENT_ID" property="incrementId" jdbcType="INTEGER"/>
        <result column="POLICE_NUMBER" property="policeNumber" jdbcType="INTEGER"/>
        <result column="POLICE_CAR_NUMBER" property="policeCarNumber" jdbcType="INTEGER"/>
        <result column="INTERCOM_NUMBER" property="intercomNumber" jdbcType="INTEGER"/>
        <result column="CREATE_DATE" property="createDate"/>
    </resultMap>

    <resultMap id="AdminJurisdictionResultMap" type="cn.sits.rjb.police.model.po.AdminJurisdiction">
        <result column="JURISDICTION_ID" property="jurisdictionId" jdbcType="INTEGER"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="DESCRIPT" property="descript" jdbcType="VARCHAR"/>
        <result column="IS_DELETE" property="isDelete" jdbcType="INTEGER"/>
        <result column="CREATE_USER" property="createUser" jdbcType="INTEGER"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="UPDATE_USER" property="updateUser" jdbcType="INTEGER"/>
        <result column="UPDATE_DATE" property="updateDate"/>
        <result column="DELETE_USER" property="deleteUser" jdbcType="INTEGER"/>
        <result column="DELETE_DATE" property="deleteDate"/>
    </resultMap>

    <select id="getTrafficPoliceEventList" parameterType="cn.sits.rjb.police.model.dto.TrafficPoliceEventRequestDto"
            resultMap="TrafficPoliceEventResultMap">
        SELECT  t1.EVENT_ID,t1.REPORT_POLICE_ID, t1.REPORT_POLICE_NAME,t1.EVENT_TYPE,t1.EVENT_CONTENT,t1.EVENT_COORDINATE,t1.PICTURE_PATH,
        to_char(t1.REPORT_TIME,'yyyy-mm-dd hh24:mi:ss') REPORT_TIME,t1.STATE,
          to_char(t1.MODIFY_STATE_TIME,'yyyy-mm-dd hh24:mi:ss') MODIFY_STATE_TIME,t1.EVENT_HANDLE_STATE,
          t1.HANDLE_POLICE_ID,t1.HANDLE_POLICE_NAME, to_char(t1.HANDLE_TIME,'yyyy-mm-dd hh24:mi:ss') HANDLE_TIME
        FROM ${T}.RT_TRAFFIC_POLICE_EVENT t1
    </select>

    <!--获取辖区信息-->
    <select id="getAdminJurisdiction" resultMap="AdminJurisdictionResultMap">
        SELECT * FROM ${T}.T_ADMIN_JURISDICTION
    </select>

    <select id="getPoliceReporting"
            parameterType="cn.sits.rjb.police.model.dto.TrafficPoliceReportingRequestDto"
            resultMap="TrafficPoliceReportingResultMap">
        SELECT *
        FROM
        (
        SELECT
        ROWNUM AS rowno,
        r.*
        FROM
        (
        SELECT
        t1.EVENT_ID,
        t1.REPORT_POLICE_ID,
        t1.REPORT_POLICE_NAME,
        t1.EVENT_TYPE,
        t1.EVENT_CONTENT,
        t1.LONGITUDE,
        t1.LATITUDE,
        t1.PICTURE_PATH,
        t1.REPORT_TIME,
        t1.STATE,
        t1.STATE_UPDATE_TIME,
        t1.HANDLE_STATE,
        t1.HANDLE_POLICE_ID,
        t1.HANDLE_POLICE_NAME,
        t1.HANDLE_TIME,
        t1.EVENT_EXPRESSWAY_ID,
        t2.NAME
        FROM
        ${T}.REC_TRAFFIC_POLICE_REPORTING t1 LEFT JOIN ${T}.T_EXPRESSWAY t2 ON t1.EVENT_EXPRESSWAY_ID = t2.EXPRESSWAY_ID
        WHERE
        t1.REPORT_TIME BETWEEN TO_DATE(#{startTime},'yyyy-MM-dd HH24:mi:ss')
        AND TO_DATE(#{endTime},'yyyy-MM-dd HH24:mi:ss')
        ORDER BY
        t1.REPORT_TIME DESC
        ) r
        WHERE
        ROWNUM <![CDATA[<=]]>  #{pageSize} * #{pageNum} ) table_alias WHERE table_alias.rowno > #{offset}
    </select>

    <!--1.2.20	当日值班信息,按endtime降序-->
    <select id="getPoliceDutyList"
            parameterType="cn.sits.rjb.police.model.dto.PoliceDutyRequestDto"
            resultMap="PoliceDutyResultMap">
        SELECT *
        FROM
        (
        SELECT
        ROWNUM AS rowno,
        r.*
        FROM
        (
        SELECT t1.*,t2.BIRTH_DATE,t2.NAME,t2.POLICE_RANK,t2.SEX,t2.SQUAD_ID,t3.DESCRIPT,t3.NAME JURISDICTION_NAME,t4.NAME SQUAD_NAME
        FROM  ${REC}.REC_TRAFFIC_POLICE_DUTY t1
        LEFT JOIN ${T}.T_TRAFFIC_POLICE t2 ON t1.POLICE_ID=t2.POLICE_ID
        LEFT JOIN ${T}.T_ADMIN_JURISDICTION t3 ON t1.JURISDICTION_ID = t3.JURISDICTION_ID
        LEFT JOIN ${T}.T_TRAFFIC_POLICE_SQUAD t4 ON t2.SQUAD_ID = t4.SQUAD_ID
        WHERE
        t1.DUTY_DATE BETWEEN TO_DATE(#{startTime},'yyyy-MM-dd HH24:mi:ss')
        AND TO_DATE(#{endTime},'yyyy-MM-dd HH24:mi:ss')
        ORDER BY
        t1.END_TIME DESC
        ) r
        WHERE
        ROWNUM <![CDATA[<=]]>  #{pageSize} * #{pageNum} ) table_alias WHERE table_alias.rowno > #{offset}
    </select>

    <!--1.2.19	警员、警车、对讲机在线统计-->
    <select id="getRTPoliceOnline"
            resultMap="RTPoliceOnlineResultMap">
        SELECT * FROM ${RT}.RT_POLICE_FORCE_ONLINE
    </select>


    <!--1.2.10昨日事件数-->
    <select id="getYesterdayPoliceReportingNumber" parameterType="cn.sits.rjb.police.model.dto.TrafficPoliceReportingRequestDto" resultType="integer">
        SELECT count(1) FROM ${T}.REC_TRAFFIC_POLICE_REPORTING
        WHERE TO_CHAR(REPORT_TIME,'yyyy-MM-dd') = TO_CHAR(TO_DATE(#{startTime},'yyyy-MM-dd HH24:mi:ss') - 1,'yyyy-MM-dd')
    </select>

</mapper>