<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sits.rjb.system.mapper.UserMapper">
    <resultMap id="UserResultMapper" type="cn.sits.rjb.system.model.dto.LoginUserResponseDto">
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="salt" property="salt" jdbcType="VARCHAR"/>
        <result column="user_mail" property="userMail" jdbcType="VARCHAR"/>
        <result column="user_telephone" property="userTelephone" jdbcType="VARCHAR"/>
        <result column="user_address" property="userAddress" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findByLoginName" parameterType="cn.sits.rjb.system.model.dto.LoginUserResquestDto" resultMap="UserResultMapper">
        SELECT *
        FROM user_info t1
        where is_delete = '0'
        <if test="loginName !=null">
            and t1.user_name = #{loginName}
        </if>
    </select>

</mapper>